*.js
*.js.map
*.d.ts
package-lock.json
node_modules
!docs/convert/convertOut.js
!docs/preview/previewOut.js
!docs/decodeblp/decodeblpOut.js
!docs/optframes/optframesOut.js
!docs/shim.js
!third_party/decoder.js
